{#
 # Sharif Judge
 # file: submissions.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected='problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}{{ 'fa-puzzle-piece' }}{% endblock %}
{% block title %}{{ view|title }} Problems{% endblock %}
{% block head_title %}{{ view|title }} Problems{% endblock %}

{% block main_content %}
<p>Selected Assignment has not started yet</p>
{% endblock %}